<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ada Lovelace</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <header>Ada Lovelace</header>

    <blockquote>
        <p>
            Augusta Ada King, condesa de Lovelace, registrada al nacer como Augusta
            Ada Byron y conocida habitualmente como Ada Lovelace, fue una matemática
            y escritora británica, célebre sobre todo por su trabajo acerca de la
            computadora mecánica de uso general de Charles Babbage, la denominada
            máquina analítica. Fue la primera en reconocer que la máquina tenía
            aplicaciones más allá del cálculo puro y en haber publicado lo que se
            reconoce hoy como el primer algoritmo destinado a ser procesado por una
            máquina, por lo que se la considera como la primera programadora de
            ordenadores.
        </p>

        <img class="centrarimg" src="/img/Ada .png" alt="" />

        <p>
            Lovelace fue la única hija legítima del poeta lord Byron y Anna Isabella
            Noel Byron. Byron se separó de su esposa un mes después del nacimiento
            de Ada y dejó Inglaterra para siempre cuatro meses después. Conmemoró la
            despedida en un poema que comienza: «¿Es tu rostro como el de tu madre,
            mi bella hija? ¡ADA! Hija única de mi casa y mi corazón». Murió en la
            Guerra de independencia de Grecia cuando Ada tenía ocho años.
        </p>

        <p>
            Dedujo y previó la capacidad de los ordenadores para ir más allá de los
            simples cálculos de números, mientras que otros, incluido el propio
            Babbage, se centraron únicamente en estas capacidades
        </p>

        <p>
            Su posición social y su educación la llevaron a conocer a científicos
            importantes como Andrew Crosse, sir David Brewster, Charles Wheatstone,
            Michael Faraday y al novelista Charles Dickens, relaciones que aprovechó
            para llegar más lejos en su educación. Entre estas relaciones se
            encuentra Mary Somerville, que fue su tutora durante un tiempo, además
            de amiga y estímulo intelectual. Ada Byron se refería a sí misma como
            una científica poetisa y como analista (y metafísica)
        </p>

        <p>
            A una edad temprana, su talento matemático la condujo a una relación de
            amistad prolongada con el matemático inglés <a href=http://localhost:3030/babbage>Charles Babbage</a>, y
            concretamente con la obra de Babbage sobre la máquina analítica.
            Entre 1842 y 1843, tradujo un artículo del ingeniero militar italiano
            Luigi Menabrea sobre la máquina, que complementó con un amplio conjunto
            de notas propias, denominado simplemente Notas. Estas notas contienen lo
            que se considera como el primer programa de ordenador, esto es, un
            algoritmo codificado para que una máquina lo procese. Las notas de
            Lovelace son importantes en la historia de la computación. Otros
            historiadores rechazan esta perspectiva y señalan que las notas
            personales de Babbage de los años 1836/1837 contienen los primeros
            programas para el motor. También desarrolló una visión de la
            capacidad de las computadoras para ir más allá del mero cálculo o el
            cálculo de números, mientras que muchos otros, incluido el propio
            Babbage, se centraron solo en esas capacidades. Su mentalidad de
            'ciencia poética' la llevó a hacer preguntas sobre el motor analítico
            (como se muestra en sus notas) examinando cómo los individuos y la
            sociedad se relacionan con la tecnología como una herramienta de
            colaboración.
        </p>
        <h1>Biografía</h1>

        <p>
            Ada Augusta Byron nació en Londres en 1815. Era hija de la adinerada Annabella Milbanke y el poeta Lord
            Byron. El matrimonio no duró mucho y, cuando Ada tenía un mes, su madre abandonó a su esposo. La joven Ada
            recibió lecciones de matemáticas y ciencia en un intento, por parte de su madre, de erradicar la herencia de
            locura poética que llevaba en los genes. Su infancia transcurrió entre tutores y estudios, lastrada por una
            mala salud que arrastraría a lo largo de toda su vida.
        </p>

        <p>
            A pesar de que en siglo XIX no era frecuente que las mujeres estudiasen ciencia, Ada tuvo la suerte de
            contar con grandes maestros, como el matemático Augustus De Morgan o la astrónoma escocesa Mary Somerville.
            Fue precisamente Sommerville quien le presentó al matemático <a href=http://localhost:3030/babbage>Charles
                Babbage</a>, con quien trabó una gran
            amistad y una fructífera colaboración. En 1835 Ada se casó con el barón William King, que posteriormente se
            convirtió en conde de Lovelace. Durante su matrimonio siguió estudiando matemáticas. Tras el nacimiento de
            su tercer y último hijo, Ada comenzó a colaborar con Babbage en la máquina analítica.
        </p>

        <p>
            Su pasión por las matemáticas y su personalidad poco convencional no siempre fueron bien vistas en la corte.
            Se aficionó al juego y en 1851 trató de crear con unos amigos un modelo matemático para acertar en las
            apuestas. En los últimos años de su vida su salud se deterioró gravemente, hasta que falleció en 1852, poco
            antes de cumplir 37 años
        </p>

        <h2>contribución informática</h2>

        <p>
            En 1840 Charles Babbage viajó a Italia para explicar el concepto de la
            Máquina Analítica en la Universidad de Turín. Entre la audiencia se encontraba
            el ingeniero militar y matemático Luigi Menabrea, quien publicará más tarde las
            notas de la conferencia, en francés. A Ada se le pidió que hiciera la traducción
            de lo escrito por Menabrea al inglés, y al hacerlo, añadió un apéndice más extenso
            que fue un artículo en sí mismo, consistiendo en siete notas etiquetadas
            alfabéticamente de la A a la G. Las notas de Ada se publicaron en la revista
            Scientific Memoir en septiembre de 1843, con el título de «Sketch of the analytical
            engine invented by Charles Babbage», que firmó con sus iniciales A. A. L.
        </p>

        <p>
            En estas notas, Ada escribió:
        <p class="frases">
            "Terminamos estas notas siguiendo en detalle los pasos a través de los cuales la máquina podría
            computar los Números de Bernoulli, siendo este (en la forma en que lo deduciremos) un ejemplo bastante
            complicado de su poder."
        </p>
        </p>

        <p>
            Este algoritmo para calcular los números de Bernoulli, una serie de fracciones con diferentes aplicaciones
            en matemáticas, se ha considerado por muchos como el primer programa/algoritmo de la historia.
            Consecuentemente, muchos perfiles de la figura de Ada Lovelace lo celebran como la primera persona
            programadora de la historia. Sin embargo, se ha mantenido durante años la controversia sobre el grado de
            participación de Babbage en la confección de las notas de Lovelace. Es una controversia complicada debido al
            hecho de que se ha tomado, en los últimos años, la contribución de Ada como "una cuestión de género" y a
            la atención creciente de la promoción de las mujeres en Ciencia, Tecnología, Ingeniería y Matemáticas
            (STEM).
        </p>

        <p>
            Actualmente está probado que fue Babbage la primera persona que hizo lo que se entiende como un programa, ya
            que escribió algoritmos parecidos entre 6 y 7 años antes de la publicación del artículo de Lovelace en 1843.
            Existen 24 de tales 'programas' y tienen características idénticas a los de la nota G de Lovelace. La idea
            general de que ella escribió el primer programa de ordenador de la Historia es sólo un mito tratándose
            en realidad de un trabajo en equipo con Babbage
        </p>

        <p>
            En cambio, la aportación de Ada a la Informática fue incluso aún más importante: con una visión más amplia
            que la de Babbage, dedujo y previó la capacidad de las máquinas para ir más allá de los simples cálculos de
            números. Ada vio las aplicaciones prácticas de la máquina, y creyó acertadamente que en el futuro podría
            incluso componer música y hacer gráficos:
        <p class="frases">
            "Supongamos, por ejemplo, que las relaciones fundamentales entre los sonidos, en el arte de la armonía,
            fueran susceptibles de tales expresiones y adaptaciones: la máquina podría componer piezas musicales todo lo
            largas y complejas que se quisiera."
        </p>
        </p>

        <p>
            Fue la primera persona en darse cuenta de que los números almacenados dentro de la Máquina Analítica podían
            representar otras cosas más allá de la magnitud de dichos números, es decir, el carácter simbólico de la
            representación numérica interna de la máquina. También aportó una primera idea de lo que sería el software:
        <p class="frases">
            "La Máquina Analítica no tiene pretensiones de crear nada. Puede hacer cualquier cosa que sepamos
            ordenarle que realice."
        </p>
        </p>

        <p>
            Actualmente se podría decir que Ada Lovelace fue la primera ingeniera del software, algo más importante que
            ser programadora, pues ella estudió, desarrolló y creó la documentación sobre un determinado sistema de
            procesamiento automático.
        </p>
        <p>
            Desde un punto de vista moderno, como se entiende lo que significa ser un programador (el que usa un
            lenguaje intermedio para comunicarle a un ordenador que interprete y ejecute una serie de órdenes), el
            primero fue Alan Turing, al desarrollar su Máquina de Turing. Además, existen grandes diferencias entre el
            desarrollo de Babbage/Lovelace con el de Turing: mientras que la Máquina Analítica era una máquina de
            propósito específico (el motor diferencial), la de Turing era programable de uso general
        </p>

        <p>
            Babbage y Ada desarrollaron la gran idea de separar operaciones y datos de la maquinaria, y que las
            operaciones se pudieran codificar en tarjetas que dirigieran el comportamiento de la maquinaria. Pero no
            fueron más allá. La propuesta de Turing es la de una máquina universal (es decir, una máquina que garantice
            la ejecución de cualquier función que pueda ser descrita en términos de la propia máquina), y una
            representación uniforme de los datos y de las operaciones, almacenados ambos en la propia máquina.
        </p>

    </blockquote>

<footer>
        <nav>
          <a class="botonFooter" href="http://localhost:3030/">Home</a>
          <a class="botonFooter" href="http://localhost:3030/turing">Alan Turing</a>
          <a class="botonFooter" href="http://localhost:3030/clarke">Arthur C. Clarke</a>
          <a class="botonFooter" href="http://localhost:3030/berners-lee">Berners Lee</a>
          <a class="botonFooter" href="http://localhost:3030/babbage">Charles Babbage</a>
          <a class="botonFooter" href="http://localhost:3030/hopper">Grace Murray Hopper</a>
          <a class="botonFooter" href="http://localhost:3030/hamilton">Margaret Hamilton</a>
        </nav>
 </footer>

</body>

</html>