<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grace Murray Hopper</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>Grace Murray Hopper</header>

    <blockquote>
      <p>
        El azar ha inspirado y ha propiciado algunos de los hallazgos
        científicos más conocidos de nuestra historia. Los hay graciosos,
        bonitos, alucinantes: Arquímedes remojándose en su bañera y sus
        posteriores gritos de “eureka, eureka” al dar con el principio que lleva
        su nombre, la penicilina de un Fleming un poco olvidadizo y desordenado,
        una barra de chocolate que se derritió y que favoreció la invención del
        horno de microondas, el descubrimiento de los rayos X, que siguieron
        siendo X después de que Wilhelm Conrad Röntgen descubriera su origen… La
        matemática Grace Hopper protagonizó una de estas célebres anécdotas en
        el terreno de la informática cuando acuñó el término “bug” refiriéndose
        a un problema en el sistema de software. La causante de ese nombre, que
        lo tiene todo de azaroso, pero nada de retórico, fue una polilla.
      </p>

      <img class="centrarimg" src="/img/hopper 2.png" alt="" />

      <p>
        Hopper y su equipo de ingenieros se encontraban trabajando en la
        Universidad de Harvard con el ordenador Mark II. Una polilla voló a
        través de una ventana abierta, entró en uno de los relés y se quedó
        enganchada apagando temporalmente el sistema. La polilla fue retirada y
        pegaron sus restos en un libro de registro junto a la frase First actual
        case of bug being found. Ese “bicho” pasó a la historia como la forma de
        denominar a un fallo del sistema –de hecho, a los programas que ayudan a
        la detección y eliminación de errores de programación de software se
        llaman debuggers-.
      </p>

      <p>
        Pero en la ciencia no todo es azar. También es trabajo y constancia, dos
        de las palabras que podrían encontrarse en la naturaleza de Grace. De
        pequeña le fascinaban las máquinas; era tan grande su ensimismamiento
        que a los siete años desmontó un despertador solo para saber cómo
        funcionaba. Fue una persona muy curiosa, característica que heredó de su
        madre, y que le ayudó en su camino que para ese entonces ya estaba
        bastante definido. En 1923, aplicó para entrar en la universidad
        neoyorquina Vassar College, pero suspendió latín y tuvo que esperar un
        año para poder acceder de nuevo. Finalmente, estudió matemáticas y
        física y se graduó en 1928. Dos años después, terminó su máster en
        matemáticas en la Universidad de Yale. Ese año albergó otro
        acontecimiento, su boda con Vincent Foster Hopper.
      </p>

      <h1>Biografía</h1>

      <img class="centrarimg" src="/img/hopper.png" alt="" />

      <p>
        Tras sus estudios, empezó a enseñar matemáticas en la Universidad de
        Vassar desde 1931 hasta 1943, por 800 dólares al año. Durante ese
        tiempo, terminó su doctorado y tras depositar su tesis, fue ascendida a
        profesora asociada. Sin embargo, la Segunda Guerra Mundial marcó el
        camino profesional de Hopper, como el de muchos otros científicos. De
        esta manera, decidió servir en el ejército naval pero no contó con todas
        las facilidades para ingresar en él: tenía 34 años y la consideraban
        demasiado mayor para alistarse, pero como sus conocimientos matemáticos
        eran demasiado valiosos para la guerra, consiguió un puesto.
      </p>

      <p>
        su espacio de trabajo fue el laboratorio Cruft de la Universidad de
        Harvard, donde se convirtió en la primera programadora en utilizar el
        Mark I, el primer ordenador digital secuenciado a gran escala del mundo.
        Se utilizó para calcular los ángulos de puntería de las armas navales en
        diferentes condiciones climáticas. El conocimiento de Hopper era tan
        elevado que en ocasiones le pidieron que supervisara el sistema las
        veinticuatro horas del día. Pasaron innumerables horas transcribiendo e
        ingresando códigos también para los ordenadores que lo sucedieron (Mark
        II y III). Por todo este trabajo pionero recibió el Premio de Desarrollo
        de la Artillería Naval en 1946.
      </p>

      <p>
        Unos años más tarde, cuanto tenía cuarenta años, le notificaron que era
        demasiado mayor para seguir en activo. Ante esta realidad, decidió
        permanecer en Harvard como investigadora en Ciencias de la Ingeniería y
        Física Aplicada hasta 1949. Después, cambió de rumbo y se unió a
        Eckert-Mauchly Computer Corporation como matemática senior. Fue un gran
        momento para ella porque la compañía presentó el BINAC, Binary Automatic
        Computer, que fue programado usando un código específico en lugar de las
        tarjetas perforadas utilizadas en la serie Mark. Esto allanó el camino
        para la producción de los primeros ordenadores comerciales UNIVAC I y
        II.
      </p>

      <p>
        Durante este tiempo, Hopper desarrolló el primer compilador, y sentó las
        bases para los lenguajes de programación. En los años venideros, logró
        desarrollar el FLOW-MATIC, el primer compilador de procesamiento de
        datos en inglés que sirvió de base para crear un lenguaje informático
        universal llamado COBOL (COmmon Business-Oriented Language). Asimismo,
        se dedicó a crear manuales y herramientas para entenderlo.
      </p>

      <p>
        Nunca dejó del todo La Armada, de hecho, tuvo que volver en una ocasión
        para ayudar a sus antiguos compañeros. En 1983, fue ascendida al rango
        de comodoro. Dos años más tarde, se convirtió en una de las primeras
        mujeres en conseguir el cargo de Contralmirante. En 1986, a sus 80 años,
        y después de cuarenta y tres años de servicio, se retiró. El resto de su
        vida trabajó como consultora de Digital Equipment Corporation.
      </p>

      <p>
        Grace Hopper fue galardonada a lo largo de toda su carrera por su
        trabajo en el campo de la informática. En 1969, la Asociación de Gestión
        de Procesamiento de Datos le otorgó el Premio “al Hombre del Año” en
        Informática. Se convirtió en la primera persona de Estados Unidos y la
        primera mujer en ser distinguida como miembro de la British Computer
        Society (1973). También recibió múltiples doctorados honorarios de
        universidades de Estados Unidos. Incluso La Armada bautizó un barco en
        su honor. En 1991, fue galardonada con la Medalla Nacional de
        Tecnología. Además de todos los premios conseguidos, ella siempre
        recordó con mucha gratitud su etapa de profesora; ya que, según ella,
        fue su logro más importante.
      </p>
    
    </blockquote>

    <footer>
        <nav class="navEnlace">
          <a class="botonFooter" href="http://localhost:3030/">Home</a>
          <a class="botonFooter" href="http://localhost:3030/lovelace">Ada Lovelace</a>
          <a class="botonFooter"href="http://localhost:3030/turing">Alan Turing</a>
          <a class="botonFooter" href="http://localhost:3030/clarke">Arthur C. Clarke</a>
          <a class="botonFooter" href="http://localhost:3030/berners-lee">Berners Lee</a>
          <a class="botonFooter" href="http://localhost:3030/babbage">Charles Babbage</a>
          <a class="botonFooter" href="http://localhost:3030/hamilton">Margaret Hamilton</a>
        </nav>
      </footer>
  </body>
</html>
