<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header> Conoce a nuestros Heroes y Heroinas</header>

    
    <h3 class="heroes">“El verdadero heroísmo consiste en convertir los sueños en realidades y las ideas en hechos.”</h3>

    <h2>
        <ul>
            <li>
                <a href=http://localhost:3030/babbage>Charles Babbage</a>
             </li>
             <li>
                <a href="http://localhost:3030/berners-lee">berners Lee</a>
             </li>
             <li>
                <a href="http://localhost:3030/clarke">Arthur C. Clarke</a>
             </li>
             <li>
                <a href="http://localhost:3030/hamilton">Margaret Hamilton</a>
             </li>
             <li>
                <a href="http://localhost:3030/hopper">Grace Murray Hopper</a>
             </li>
             <li>
                <a href="http://localhost:3030/lovelace">Ada Lovelace</a>
             </li>
             <li>
                <a href="http://localhost:3030/turing">Alan Turing</a>
             </li>
         </ul>
    </h2>

    <footer>
        <img class="imghome" src="/img/dinogame3.png" alt="">
    </footer>
</body>
</html>